@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:wght@400;500;700&family=Montserrat:wght@100;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

@font-face {
  font-family: Tumbly;
  src: url(./Letra/Tumbly\ A.otf);
}

section[id] {
  scroll-margin-top: 100px;
}

#inicio{
  scroll-margin-top: 200px;

}

#equipo{
  scroll-margin-top: 95px;
}

#contacto{
  scroll-margin-top: 50px;

}

/*scroll bar*/
html {
  scrollbar-width: normal;
  scrollbar-color: #777 #555;
  scroll-behavior: smooth;

}

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #7775;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

html::-webkit-scrollbar-track {
  background-color: #5555;
}

html::-webkit-scrollbar-track:hover {
  background-color: #5554;
}


.animate__animated.animate__slideInUp {
  --animate-duration: .5s;
  
}

.container{
    max-width: 1100px;
    margin: auto;
    background-color: #161623;
    color: #fff;
}


/* Nav */



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .5s ;
    padding: 20px 100px;
    z-index: 100000;
}


.logo{ 
  display: flex;
  align-items: center;
  gap: 10px;
  
}

nav .logo a{
  font-family: Tumbly;
  font-size: 35px;
  text-decoration: none;
  color: #fff;
}



.logo img{
  max-height: 69px;
}

/*hamburguer*/
.nav-icon-6{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    display: none;
    z-index: 100001;
  }
  .nav-icon-6 span{
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
  }
  .nav-icon-6 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-6 span:nth-child(2){
    top:13px;
    left: 0px;
  }
  .nav-icon-6 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon-6:not(.open):hover span:nth-child(1){
    transform:  scaleY(1.2);
    left: -5px;
  }
  .nav-icon-6:not(.open):hover span:nth-child(2){
    transform: rotate(5deg) scaleY(1.1);
  }
  .nav-icon-6:not(.open):hover span:nth-child(3){
    transform:  scaleY(1.2);
    left: 5px;
  }
  .nav-icon-6.open span:nth-child(1){
    transform: rotate(45deg) scaleX(0.7);
    top: 13PX;
    left: -8px;
  }
  .nav-icon-6.open span:nth-child(2){
    transform: scale(0);
    transition-duration: 50ms
  }
  .nav-icon-6.open span:nth-child(3){
    transform: rotate(-45deg) scaleX(0.7);
    top: 13PX;
    left: 7px;
  }
  
/*hamburguer cierre*/

nav.active{
    height: 100px;
    background: #2d2c38;
}

.nav-menu{
    display: flex;
    gap: 35px;
}

nav.active ul{
    opacity: 1;
}

.nav-menu li{
    list-style: none; 
}

.nav-menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    

}

.nav-menu li a:hover{
   color: #FF6836;
   transition: .5s;
   
}

/* Animation nav */

nav.sticky{
  padding: 5px 100px;
  background: #2d2c38;
  box-shadow: 20px 20px 50px rgb(0, 0,0,0.5 );
  height: 75px;
  backdrop-filter: blur(5px);

  
}


nav.sticky .logo img{
  max-height: 58px;
  transition: .6s;
}




/* Hero */

.hero-content{
  margin-top: 120px;
  display: flex;
  gap: 125px;
}

.hero-video{
  position: relative;
  bottom: 40px;
  transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
}
@keyframes float{
  0%{
    transform: translatey(0px);
  }
  
  50%{
    transform: translatey(-17px);
  }

  100%{
    transform: translatey(0px);
  }
}

.hero-texts{
  margin-top: 20px;
}
.hero-content h1{
    font-size: 75px;
    font-weight: 900px;
    color: #fff;
  
}

.hero-content h1 span{
    color: #FF6836;
    
}

.hero-content p{
    color: #fff;
    margin-bottom: 30px;
}

.hero-content a{
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background-color: #FF6836;
    border-radius: 40px;
    transition: 0.6s;
}

.hero-content a:hover{
    background-color: #fd5a24;
}



/* About */

.about-info{
  margin-bottom: 50px;
  margin-top: 65px;
}

.subtitle{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}


.raya{
    height: 5px;
    width: 125px;
    background-color: #FF6836;
    margin: auto;
}

.us-info{
  width: 500px;
  height: 220px;
  display: flex;
  text-align: center;
  margin: 40px 0 0 310px;
  padding: 10px;
  border: inset 2px #FF6836;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #FF6836;
}

.us-info b{
  color: #FF6836;
}

/* Card */

.card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;

}

.card-container b{
    color: #FF6836
}

.about-card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0,0,0.5 );
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: -moz-hidden-unscrollable;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}


.about-card .content{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    cursor: default;
}


.icon{
    color: #FF6836;
    font-size: 40px;
    margin-top: 4px;
    
}

.icon1{
    width: 48px;
    filter: invert(55%) sepia(62%) saturate(2659%) hue-rotate(335deg) brightness(98%) contrast(108%);

}

.about-card .content h3{
    font-size: 1.8em;
    color: #fff;
    
}

.about-card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    
}


/* Modelo */

#modelo{
  margin-top: 100px;
}


.modelo-content{
  display: flex;
  margin-top: 30px;
}

.content-text h1{
  font-size: 40px;
  font-weight: 700;
  margin-left: 400px;
  margin-bottom: 5px;
}

.modelo-info{
  width: 500px;
  height: 130px;
  display: flex;
  text-align: center;
  margin: 20px 0 0 310px;
  padding: 10px;
  border: inset 2px #FF6836;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #FF6836;
}

.content-text h2{
  margin: 50px 0 40px 100px;
  text-align: center;
}

.content-text li{
  list-style: none;
}

.content-text p{
  margin-bottom: 5px;
}

.row{
  width: 90%;
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col{
  margin-right: 10px;
  flex-basis: 22%;
}

.shape{
  width: 230px;
  height: 220px;
  border: 2px solid #fff;
  border-radius: 126% 50% 80% 100% / 80% 50% 107% 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.5s;
  position: relative;
}

.inner-shape{
  width: 200px;
  height: 230px;
  border-radius: 50% 126% 100% 80% / 50% 80% 100% 107%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s;
}

.h2-carect{
  font-size: 30px;
}

.caracteristicas{
  color: #fff;
  position: relative;
}

.caracteristicas a{
  width: fit-content;
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

.col:hover .shape,.col:hover .inner-shape{
  width: 220px;
  height: 200px;
  border-radius: 77% 87% 77% 90% / 54% 52% 114% 107%;
}

.col:hover a{
  top: 80px;
}

.row h3{
  text-align: center;
  text-shadow: 1px 1px 2px #000;
}

.shape .fa{
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  padding: 12px;
  position: absolute;
  top: -20px;
  right: -20px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px -2px #000;
}

.bkg1, .bkg2, .bkg3, .bkg4{
  background: #FF5F1F;
}

.especificaciones-info{
  position: relative;
  display: flex;
  text-align: center;
}

.especificaciones-info div{
  display: inline;
  margin-left: 200px;
}

.especificaciones-info h3{
  margin-top: 15px;
  color: #FF6836;
}

/* Equipo */

.equipo{
  margin-top: 65px;

}

.equipo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #161623;
  
}

.equipo-title{
  margin-bottom: 15px;

}
.equipo-title h1{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.container {
    max-width: 1120px;
    height: 300px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-container {
    margin: 0 30px;
    overflow: hidden;
  }
  .card {
    box-shadow: 5px 5px 5px rgb(0, 0,0,0.5 );
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
  .card .image-box {
    height: 200px;
  }
  .card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    object-position: top;
  }
  .card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
    
  }
  .card .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .profile-details .name {
    font-size: 15px;
    font-weight: 500;
  }
  .profile-details .job {
    font-size: 12px;
    font-weight: 500;
    color: #FF6836;
  }
  
  .swiper-navBtn {
    color: rgb(0, 0, 0);
    height: 40px;
    width: 40px;
    
    border-radius: 50%;
  }
  .swiper-navBtn::before,.swiper-navBtn::after {
    font-size: 18px;
  }
  
  .swiper-pagination-bullet {
    background-color: rgb(0, 0, 0);
    color: #FF6836;
  }
  
  /*contacto*/

  
  .contact-section{
    background: #161623;
    background-size: cover;
    padding: 40px 0;
    margin-top: 65px;
    margin-bottom: 30px;
  }
  .contact-section h1{
    text-align: center;
    color: #ddd;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #ff6836;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .div-contact-form-btn{
    display: flex;
    justify-content: center;
  }
  .contact-form-btn{
    border: 0;
    background: #ff6836;
    color: #fff;
    padding: 12px 40px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.6s;
    font-size: 15px;
  }
  .contact-form-btn:hover{
    background: #fd5a24;
  }


  
/* Foooter */



.pie-pagina{
  width: 100%;
  position: absolute;
  background-color: #2d2c38;
  left: 0;
  align-items: flex-end;
}


.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
}



.pie-pagina .grupo-2{
  background-color: #2d2c38;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}

.footer-menu li{
  list-style: none; 

}

.footer-menu li a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.footer-menu li a:hover{
  color: #FF6836;
  transition: .5s;
  
}

.contact-info div{
  margin-right: 15px;
  padding: 2px;
  padding-right: 8px;
  padding-bottom: 8px;
  display: flex;
}

.contact-info i{
    color: #ff6836;
    margin-right: 12px;
    font-size: 25px;
}


/* Proceso */

.proceso{
  background-color: #161623;
  color: #fff;
}


.proceso-nav{
  background: #2d2c38;
  box-shadow: 20px 20px 50px rgb(0, 0,0,0.5 );
  backdrop-filter: blur(5px);
  height: 75px;
}

.info-gallery{
  width: 500px;
  height: 120px;
  display: flex;
  text-align: center;
  margin: 40px 0 0 310px;
  padding: 10px;
  border: inset 2px #FF6836;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #FF6836;
  margin: auto;
  margin-bottom: 20px;
}

.proceso-nav .logo img{
  max-height: 58px;
  transition: .6s;
}

.title{
  margin-top: 100px;
  margin-bottom: 20px;
}
  
.desingweb{
  display: flex;
  gap: 50px;
}

.web-img img{
  max-width: 600px;
}

.web-text h1{
  font-size: 35px;
  font-weight: 600;
}


.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}


@media screen and (max-width: 991px) {
    .swiper-navBtn {
      display: none;
    }

    /*nav*/
    nav{
        padding: 20px;
    }
    .nav-menu{
        height: 300px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vh;
        background: #2d2c38;
        transition: 0.2s;
        overflow: hidden;
        opacity: 0;
    }
    
    .nav-menu{
        display: block;
        width: 100%;
        margin-top: 20px;
        padding-top: 15px;
        text-align: center;
        transition: 0.5s;
    }
    .nav-menu li{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .nav-menu li a{
        padding: 3px;
    }
    nav.sticky.active{
        height: 20px;
    }
    nav.active.sticky{
        height: 100px;
    }
    nav.sticky{
        padding: 15px;
        
    }
    .nav-icon-6{
        display: inline-block;
    }

    /*hero*/
    .hero-content{
        padding-left: 20px;
        margin-top: 110px;
        flex-direction: column;
    }
    .hero-texts {
        margin-top: 0;
    }
    .hero-content h1{
        font-size: 70px;
    }
    .hero-content p {
        margin-right: 50px;
    }
    .hero-content a {
        padding: 10px 20px;
    }
    .hero-video{
      margin: auto;
    }
    .hero-video img{
        width: 350px;
        height: 350px;
    }

    /* about */
    .info-us{
      margin-top: 20px;
    }
    .us-info{
        width: 300px;
        height: 400px;
        padding-top: 20px;
        margin: auto;
      }
    
    /* Modelo */
    
    .content-text h1{
        margin-left: 50px;
    }
    .modelo-info{
        width: 300px;
        height: 230px;
        margin-left: 55px;
    }
    .content-text h2{
        display: inline-block;
        margin-left: 100px;
    }
    .row{
        flex-direction: column;
        display: inline;
    }
    .col{
        height: 250px;
        width: 300px;
        margin-left: 70px;
    }
    .especificaciones-info{
        flex-direction: column;
        display: flex;
        margin-left: 8px;
    }
    .especificaciones-info div{
        margin-left: 0px;
    }
    .content-img img{
      max-width:350px;
      
    }

    
    .especificaciones-info img{
      max-width: 350px;
      
    }

      

    /*contact*/
    .contact-form{
        padding: 0 15px;
    }
    .contact-info{
        flex-direction: column;
    }
    .contact-info div{
        padding-bottom: 18px;
    }

    /* Footer */
    .pie-pagina{
      position: absolute;
      margin: auto;      
  }

  .pie-pagina .grupo-1{
       width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
        text-align: center;
  }

  .contact-info div {
    display: flex;
    justify-content: center;
  }

  /* Proceso */

  .info-gallery{
    width: 300px;
    height: 220px;
    margin: auto;
  }
    
  

}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }
}

