@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:wght@400;500;700&family=Montserrat:wght@100;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: #161623;
    min-height: 200vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}


header.sticky{
    padding: 5px 100px;
    background: #fff;
}

header .logo{
    position: relative;

    
    transition: 0.6;
    
}

header .logo img{
    max-height: 69px;
}

.imgnot{
    visibility: hidden;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
  position: relative;
  list-style: none;  
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-weight: 600;

}
header.sticky .logo,
header.sticky ul li a{
    color: #000;
    
}


header.sticky .logo .imgnot{
    visibility: visible;
}
header.sticky .logo .imgsi{
    visibility: hidden;
}


